<p id="notice"><%= notice %></p>
<b>Name:</b> <%= @location.name %></br>
<b>Beschreibung:</b><br>
<%= @location.description %><br>
<%= link_to 'Bearbeiten', edit_location_path(@location) %> |
<%= link_to 'Zurück', locations_path %>
